.routesContainer {
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding: 3rem;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
}

a.active {
  border-top: 1px solid darkslateblue !important;
  border-left: 1px solid darkslateblue !important;
  border-right: 1px solid darkslateblue !important;
}

a:hover {
  background-color: rgba(231, 231, 231, 0.753);
}

:host ::ng-deep router-outlet + app-crypto-container {
  width: 100%;
}

:host ::ng-deep router-outlet + app-crypto-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
