<div class="server" [ngClass]="getClasses()">
  <div class="serverNameWrapper">
    <p>
      Server {{ server.name }} with ID {{ server.id }} is
      <span [ngStyle]="{ color: getColor() }">{{
        server.status ? "online" : "offline"
      }}</span>
    </p>

    <button (click)="onToggleStatus(!server.status)">
      {{ server.status ? "Turn Off" : "Turn On" }}
    </button>

    <a
      href="#"
      class="dropdown-toggle"
      (click)="hideDescription = !hideDescription"
      ><small>Show Description <span class="caret"></span></small
    ></a>
  </div>
  <div class="descriptionWrapper" [ngClass]="{ hide: hideDescription }">
    <small>Description: {{ server.description }}</small>
  </div>
</div>
