.server {
  border: 1px solid gray;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
  border-radius: 0.3rem;
  position: relative;
}

.serverNameWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.descriptionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.online {
  background: azure;
}

.offline {
  background: rgb(247, 201, 255);
}

.server p {
  margin: 1rem;
}

// .server .toggle {
//   padding: 0.3rem 1.8rem;
//   background: white;
//   border: 1px solid black;
//   border-radius: 0.2rem;
// }

.row {
  margin-top: 2rem;
}

.one {
  border-right: 1px solid darkslateblue;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.hide {
  display: none;
}

strong {
  font-weight: 500;
}
