<ul *ngIf="server; else noServer">
  <li>
    <strong>Name</strong>: {{ server.name }}
    <a>
      <mat-icon [routerLink]="['/servers', server.id, 'edit']" class="editIcon">
        edit
      </mat-icon>
    </a>
  </li>
  <li><strong>Description</strong>: {{ server.description }}</li>
  <li><strong>Status</strong>: {{ server.status ? "online" : "offline" }}</li>

  <li>
    <strong>Logs</strong>:
    <div class="console">{{ server.logs }}</div>
  </li>
</ul>

<ng-template #noServer>
  <p>no server with that Id</p>
</ng-template>
