a {
  margin-top: 5rem;
  margin-right: 3rem;
}

strong {
  font-weight: 500;
}

ul {
  list-style-type: ">> ";
}

.console {
  font-family: monospace;
  background-color: hsl(192deg 100% 11%);
  color: whitesmoke;
  padding: 3rem;
}
