a {
  margin-left: 1rem;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

strong {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 1rem;
}

.console {
  font-family: monospace;
  background-color: hsl(192deg 80% 21%);
  color: whitesmoke;
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

h3 {
  text-align: center;
}

.btn {
  margin-top: 0;
}
