<form>
  <div class="mb-3">
    <label for="coin" class="form-label">Cryptocurrency: </label>
    <select class="form-select" name="coin" id="coin" [(ngModel)]="cryptoId">
      <option value="{{ cryptoId.id }}" *ngFor="let cryptoId of cryptoIdList">
        {{ cryptoId.id }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="startDate" class="form-label">Start Date</label>
    <input
      type="date"
      class="form-control"
      id="startDate"
      name="startDate"
      [(ngModel)]="startDate"
    />
  </div>

  <div class="mb-3">
    <label for="endDate" class="form-label">End Date</label>
    <input
      type="date"
      class="form-control"
      id="endDate"
      name="endDate"
      [(ngModel)]="endDate"
    />
  </div>
  <hr />
  <button class="btn btn-primary" (click)="reRender()">Rerender</button>
  <hr />
  <button class="btn btn-secondary" (click)="goBack()">Back to List</button>
</form>
