<div class="server" [ngClass]="getClasses()">
  <div class="serverNameWrapper">
    <p>
      Server
      <a [routerLink]="['/servers', server.id]">{{ server.name }}</a> with ID
      {{ server.id }} is
      <span [ngStyle]="{ color: getColor() }">
        <strong>{{ server.status ? "online" : "offline" }}</strong>
      </span>
    </p>

    <a class="dropdown-toggle" (click)="hideDescription = !hideDescription">
      <small>
        Show Description
        <span class="caret"></span>
      </small>
    </a>
  </div>
  <div class="descriptionWrapper" [ngClass]="{ hide: hideDescription }">
    <small>
      Description:
      <em>{{ server.description }}</em>
    </small>
  </div>
</div>
