.servers-container {
  width: 80vw;
  margin: 0;
}

.one {
  max-height: 60vh;
  overflow: scroll;
  padding: 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.one:-webkit-scrollbar {
  display: none;
}

app-form {
  margin-bottom: 2rem;
}

app-servers-display {
  margin-top: 2rem;
}
